:root {
	--deep_blue: #264653;
	--brigh_orange: #e76f51;
	--cream: #f4a261;
	--good_green: #0f5132;
	--bad_red: #c70039;
}
/* navigation bar */
.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-logo {
	padding-left: 2rem;
}
.nav-links {
	padding-right: 2rem;
}
.nav-links-body {
	display: flex;
}
.nav-link {
	list-style: none;
}
.nav-link > a {
	text-decoration: none;
}

.body-content {
	padding-left: 2rem;
	padding-right: 2rem;
}
.form-wrapper {
	display: flex;
}
.form-label {
	display: flex;
	flex-direction: column;
}
.form-wrapper > label {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/* Sign In & Sign Out */
.form-sign {
	display: flex;
	justify-content: center;
	align-items: center;
}
